@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576650034234'); /* IE9 */
  src: url('iconfont.eot?t=1576650034234#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABmwAAAJGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4gQ8BNgIkAwgLBgAEIAWEbQcvG7QFyB6SJIJi2WOGsfYAACMenvbHd+68+WQCGMHGhZpcwlYoM8Rtvy1CUVd1Vnv7P5c5QKPyfFmeIlSwKSzkFzjNSKLTU2pCbsINdHDzQ4CZnKGYwkTK57mc3gQ6kPmf3zu30Zy2B3XYol6AcSAFuBdGkZUmEHnD2AUv8D6BWj00re318QJDmb0sELfi0IVhISPLrF4tVDbszeKxnup0J72DR9Hn4zcLMSSpKNhrj1xZBTD95hvF7bLcBIQsCPBwBQpMAZk40VjZ1xGM66itdA2AY5mDb5RlEBFHDQr219nN9aALVoNveJZHVSaQGc8EMDMpSdFof+vNt3j++t7b3o4Xb+6+OlM4/fI/8dUfpC8+T6kWhj2p8yT0M+sA5WE62tmBFoKPE+7ZWP5TrQw+5TcnSpWH2bAYqN53JPwjY2BfNqx2OGXNaGwkEzrnbqlVixJOtPqb6uu4oUao1nFbsSrdGQrVhsjMTqFCnSVUqraGWpM2h+u0YR2RazDhCyA0+0bS6C0KzX7IzP6iQqd/VGqODmqdirYz64xEPN5icoUC9F4x9stCuVEZx+YThY+Zy3lrxF8TN3EebcMq1zdUEC+xoXkKHRGFissc1+AxyrISKy4T8sWIRKqJaaqmFxl+mcPYFkZcggSQ5xWK+UoFFQwX48r7T0joUcbFHT119TXCGvHkyGawBpAbVzGo51GeaTwJOYRQkMJKObQGs0gmU0JV86wE8QlDNKFUmTCdQWqoy9jek//dEahl+1M4UwoVl2K3sAEAAAAA') format('woff2'),
  url('iconfont.woff?t=1576650034234') format('woff'),
  url('iconfont.ttf?t=1576650034234') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576650034234#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian1:before {
  content: "\e600";
}

