	.box2{
		padding: 20upx 6upx 20upx 20upx;
		background: #FFFFFF;
	}
	.box1_list{
		padding: 20upx;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.list_item{
			width: 31%;
			text-align: center;
			.item_img{
				position: relative;
				width: 100%;
				height: 100%;
				image{height: 160upx;display: block;}
				.item_title{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
					bottom: 20upx;
					width: 70%;
					text-align: center;
					.title{font-size: 30upx;color: #FFFFFF;font-weight: bold;margin-bottom: 12upx;}
					.name{background: rgba(255,255,255,0.2);padding: 5upx 8upx;border-radius: 15upx;font-size: 24upx;color: #fff;}
				}
			}
			.item_center{
				padding-top: 20upx;
				.item_center_title{font-size: 30upx;font-weight: bold;}
				.item_center_conten{font-size: 24upx;background: #f6f7f9;border-radius: 12upx;padding: 5upx 8upx;color: #7e7f82;display: inline-block;}
			}
		}
	}
	
	
	.iconfont {
		font-size: 24upx;
	}
	/* #ifdef MP */
	.mp-search-box{
		position:absolute;
		left: 0;
		top: 30upx;
		z-index: 9999;
		width: 100%;
		padding: 0 80upx;
		.ser-input{
			flex:1;
			height: 56upx;
			line-height: 56upx;
			text-align: center;
			font-size: 28upx;
			color:$font-color-base;
			border-radius: 20px;
			background: rgba(255,255,255,.6);
		}
	}
	page{
		.cate-section{
			position:relative;
			z-index:5;
			border-radius:16upx 16upx 0 0;
			margin-top:-20upx;
			
		}
		.carousel-section{
			padding: 0;
			.titleNview-placing {
				padding-top: 0;
				height: 0;
			}
			.carousel{
				.carousel-item{
					padding: 0;
				}
			}
			.swiper-dots{
				left:45upx;
				bottom:40upx;
			}
		}
	}
	/* #endif */
	
	
	page {
		background: #f5f5f5;
	}
	.m-t{
		margin-top: 16upx;
	}
	/* 头部 轮播图 */
	.carousel-section {
		position: relative;
		// margin-top:70rpx;

		.titleNview-placing {
			height: var(--status-bar-height);
			padding-top: 44px;
			box-sizing: content-box;
		}

		.titleNview-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 426upx;
			transition: .4s;
		}
	}
	.carousel {
		width: 100%;
		height: 350upx;

		.carousel-item {
			width: 100%;
			height: 100%;
			// padding: 0 28upx;
			overflow: hidden;
		}

		image {
			width: 100%;
			height: 100%;
			border-radius: 10upx;
		}
	}
	.swiper-dots {
		display: flex;
		position: absolute;
		left: 60upx;
		bottom: 15upx;
		width: 72upx;
		height: 36upx;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABkCAYAAADDhn8LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTMyIDc5LjE1OTI4NCwgMjAxNi8wNC8xOS0xMzoxMzo0MCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTk4MzlBNjE0NjU1MTFFOUExNjRFQ0I3RTQ0NEExQjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTk4MzlBNjA0NjU1MTFFOUExNjRFQ0I3RTQ0NEExQjMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Q0E3RUNERkE0NjExMTFFOTg5NzI4MTM2Rjg0OUQwOEUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Q0E3RUNERkI0NjExMTFFOTg5NzI4MTM2Rjg0OUQwOEUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Gh5BPAAACTUlEQVR42uzcQW7jQAwFUdN306l1uWwNww5kqdsmm6/2MwtVCp8CosQtP9vg/2+/gY+DRAMBgqnjIp2PaCxCLLldpPARRIiFj1yBbMV+cHZh9PURRLQNhY8kgWyL/WDtwujjI8hoE8rKLqb5CDJaRMJHokC6yKgSCR9JAukmokIknCQJpLOIrJFwMsBJELFcKHwM9BFkLBMKFxNcBCHlQ+FhoocgpVwwnv0Xn30QBJGMC0QcaBVJiAMiec/dcwKuL4j1QMsVCXFAJE4s4NQA3K/8Y6DzO4g40P7UcmIBJxbEesCKWBDg8wWxHrAiFgT4fEGsB/CwIhYE+AeBAAdPLOcV8HRmWRDAiQVcO7GcV8CLM8uCAE4sQCDAlHcQ7x+ABQEEAggEEAggEEAggEAAgQACASAQQCCAQACBAAIBBAIIBBAIIBBAIABe4e9iAe/xd7EAJxYgEGDeO4j3EODp/cOCAE4sYMyJ5cwCHs4rCwI4sYBxJ5YzC84rCwKcXxArAuthQYDzC2JF0H49LAhwYUGsCFqvx5EF2T07dMaJBetx4cRyaqFtHJ8EIhK0i8OJBQxcECuCVutxJhCRoE0cZwMRyRcFefa/ffZBVPogePihhyCnbBhcfMFFEFM+DD4m+ghSlgmDkwlOgpAl4+BkkJMgZdk4+EgaSCcpVX7bmY9kgXQQU+1TgE0c+QJZUUz1b2T4SBbIKmJW+3iMj2SBVBWz+leVfCQLpIqYbp8b85EskIxyfIOfK5Sf+wiCRJEsllQ+oqEkQfBxmD8BBgA5hVjXyrBNUQAAAABJRU5ErkJggg==);
		background-size: 100% 100%;

		.num {
			width: 36upx;
			height: 36upx;
			border-radius: 50px;
			font-size: 24upx;
			color: #fff;
			text-align: center;
			line-height: 36upx;
		}

		.sign {
			position: absolute;
			top: 0;
			left: 50%;
			line-height: 36upx;
			font-size: 12upx;
			color: #fff;
			transform: translateX(-50%);
		}
	}
	/* 分类 */
	.cate-section {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap:wrap;
		padding: 80rpx 22upx 50upx 22upx; 
		background: #fff;
		background: url('/static/demo/vipcardbottom.png') no-repeat;
		background-size: 100% 100%;
		margin-top:-180rpx;
		position: relative;
		z-index:1;
		transition: all 1s;
		.cate-item {
			width:25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: $font-sm + 2upx;
			color: $font-color-dark;
			margin-bottom: 4upx;
		}
		/* 原图标颜色太深,不想改图了,所以加了透明度 */
		image {
			width: 88upx;
			height: 88upx;
			margin-bottom: 14upx;
			border-radius: 50%;
			opacity: .7;
			box-shadow: 4upx 4upx 20upx rgba(250, 67, 106, 0.3);
		}
	}
	.ad-1{
		width: 100%;
		height: 210upx;
		padding: 10upx 0;
		background: #fff;
		position: relative;
		z-index:2;
		margin-top:-12rpx;
		display: flex;
		justify-content: space-between;
		padding-left:24upx;
		padding-right:24upx;
		.ad-1-left{
			width: 340upx;
			height: 158rpx;
		}
		image{
			width:100%;
			height: 100%; 
		}
	}
	/* 秒杀专区 */
	.seckill-section{
		width: 95%;
		margin: 20upx auto 20upx;
		border-radius: 20upx;
		padding: 0upx 0upx 14upx;
		background: #fff;
		.s-header{
			padding: 20upx;
			display:flex;
			align-items:center;
			// height: 60upx;
			// line-height: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 30upx;
			color: rgba(51, 51, 51, 1);
			font-weight: 600;
			.destination{
				font-size: 24upx;
				color: white;
				background: rgba(255,122,69,1);
				display: inline;
				padding: 2upx 10upx;
				margin-left: 10upx;
				border-radius: 6upx;
			}
			.s-img{
				width: 140upx;
				height: 30upx;
			}
			.tip{
				font-size: $font-base;
				color: $font-color-light;
				margin: 0 20upx 0 40upx;
			}
			.timer{
				display:inline-block;
				width: 40upx;
				height: 36upx;
				text-align:center;
				line-height: 36upx;
				margin-right: 14upx;
				font-size: $font-sm+2upx;
				color: #fff;
				border-radius: 2px;
				background: rgba(0,0,0,.8);
			}
			.icon-you{
				font-size: $font-lg;
				color: $font-color-light;
				flex: 1;
				text-align: right;
			}
			.yticon{ 
				display: flex;
				align-items: center;
			}
			.header-more{ 
				font-size: 24rpx;
				color: rgba(153, 153, 153, 1);
			}
		}
		.floor-list{
			white-space: nowrap;
			padding: 0 0 00upx 20upx;
		}
		.scoll-wrapper{
			height: 400rpx;
			display:flex;
			align-items: flex-start;
		}
		.floor-item{
			width: 220rpx;
			font-size: $font-sm+2upx;
			color: $font-color-dark;
			line-height: 1.8;
			image{
				width: 210upx;
				height: 200upx;
				border-radius: 16upx !important;
			}
			.price{
				color: rgba(204, 45, 30, 1);
				font-weight: bold;
				font-size: 24upx;
			}
		}
	}
	
	.f-header{
		height: 100upx;
		padding: 6upx 30upx 8upx;
		background: rgb(239, 239, 240);
		margin-top:0px;
		image{
			flex-shrink: 0;
			width: 80upx;
			height: 80upx;
			margin-right: 20upx;
		}
		.tit-box{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
		.tit{
			font-size: 32rpx;
			color: rgba(51, 51, 51, 1);
			font-weight: 500;
			line-height: 1.3;
			margin:0 60rpx;
		}
		.tit2{
			font-size: $font-sm;
			color: $font-color-light;
		}
		.icon-you{
			font-size: $font-lg +2upx;
			color: $font-color-light;
		}
	}
	/* 团购楼层 */
	.group-section{
		background: rgb(239, 239, 240);
		.g-swiper{
			height: 650upx;
			padding-bottom: 30upx;
		}
		.g-swiper-item{
			width: 100%;
			padding: 0 30upx;
			display:flex;
		}
		image{
			width: 100%;
			height: 460upx;
			border-radius: 4px;
		}
		.g-item{
			display:flex;
			flex-direction: column;
			overflow:hidden;
		}
		.left{
			flex: 1.2;
			margin-right: 24upx;
			.t-box{
				padding-top: 20upx;
			}
		}
		.right{
			flex: 0.8;
			flex-direction: column-reverse;
			.t-box{
				padding-bottom: 20upx;
			}
		}
		.t-box{
			height: 160upx;
			font-size: $font-base+2upx;
			color: $font-color-dark;
			line-height: 1.6;
		}
		.price{
			color:rgba(204, 45, 30, 1);
		}
		.m-price{
			font-size: $font-sm+2upx;
			text-decoration: line-through;
			color: $font-color-light;
			margin-left: 8upx;
		}
		.pro-box{
			display:flex;
			align-items:center;
			margin-top: 10upx;
			font-size: $font-sm;
			color: $font-base;
			padding-right: 10upx;
		}
		.progress-box{
			flex: 1;
			border-radius: 10px;
			overflow: hidden;
			margin-right: 8upx;
		}
	}
	/* 分类推荐楼层 */
	.hot-floor{
		width: 100%;
		overflow: hidden;
		margin-bottom: 20upx;
		.floor-img-box{
			width: 100%;
			height:320upx;
			position:relative;
			&:after{
				content: '';
				position:absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(rgba(255,255,255,.06) 30%, #f8f8f8);
			}
		}
		.floor-img{
			width: 100%;
			height: 100%;
		}
		.floor-list{
			white-space: nowrap;
			padding: 20upx;
			padding-right: 50upx;
			border-radius: 6upx;
			margin-top:-140upx;
			margin-left: 30upx;
			background: #fff;
			box-shadow: 1px 1px 5px rgba(0,0,0,.2);
			position: relative;
			z-index: 1;
		}
		.scoll-wrapper{
			display:flex;
			align-items: flex-start;
		}
		.floor-item{
			width: 210upx;
			margin-right: 20upx;
			font-size: $font-sm+2upx;
			color: $font-color-dark;
			line-height: 1.8;
			image{
				width: 180upx;
				height: 180upx;
				border-radius: 20upx;
			}
			.price{
				color: rgba(204, 45, 30, 1);
			}
		}
		.more{
			display:flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-shrink: 0;
			width: 180upx;
			height: 180upx;
			border-radius: 6upx;
			background: #f3f3f3;
			font-size: $font-base;
			color: $font-color-light;
			text:first-child{
				margin-bottom: 4upx;
			}
		}
	}
	// 会员卡
	.vipCardContainer{
	 		  width: 100%;
	 		  // padding: 24upx;
	 		  .vipCard{
	 			  background: url('/static/demo/vip-bg.png') no-repeat;
	 			  background-size:cover;
	 			  width: 100%;
	 			  height: 400upx;
	 			  border-radius: 20upx;
	 			  position: relative;
	 			  .vipCardTopic{
	 				  width: 100%;
	 				  display: flex;
	 				  padding: 0 84upx 0 48upx;
	 				  justify-content: space-between;
	 				  align-items: center;
	 				  position: absolute;
	 				  top: 46upx;
	 				  .vipCardTitle{
	 					  display: flex;
	 					  justify-content: flex-start;
	 					  align-items: center;
	 					  .viplog{
	 						  height: 36upx;
	 						  width: 96upx;
	 					  }
	 					  .vipTip{
	 						  padding-left: 10upx;
	 						  color: #ffffff;
							  font-size: 28rpx;
	 					  }
	 				  }
	 				  .openVip{
	 					background: linear-gradient(90deg, rgba(245, 197, 171, 1) 0%, rgba(249, 249, 249, 1) 100%);
	 					color: rgba(248, 0, 34, 1);
	 					line-height: 48upx;
	 					border-radius: 8upx;
	 					padding: 0 20upx;
						font-size: 24rpx;
	 				  }
	 			  }
	 			  .cardBoss{
	 				  width: 100%;
	 				  display: flex;
	 				  padding: 0 84upx 0 48upx;
	 				  justify-content: space-between;
	 				  align-items: center;
	 				  position: absolute;
	 				  top: 140upx;
	 				  color: #ffffff;
	 				  .bossMessage{
	 					  display: flex;
	 					  justify-content: space-between;
	 					 align-items: center;
						 font-size: 24rpx;
	 					 view{
	 						 margin-left: 8upx;
	 						  padding-left: 10upx; 
	 						  padding: 4upx 12upx;
	 						  border-radius: 26upx;
	 						  color: #E53B3B;
	 						  background:linear-gradient(90deg,rgba(245,197,171,1) 0%,rgba(255,250,237,1) 100%);
	 					 }
	 					  .avatar{
	 						  width: 72upx;
	 						  height: 72upx;
	 					  }
	 				  }
	 				  .codeDescript{
	 					  display: flex;
	 					  justify-content: space-between;
	 					 align-items: center;
	 					  .addWx{
	 						  width: 120upx;
	 						  height: 68upx;
	 						  font-size: 24rpx;
							  color:rgba(255, 255, 255, .5)
	 					  }
	 					  .code{
	 						  width: 98upx;
	 						  height: 98upx;
	 					  }
	 				  }
	 			  }
	 			  .level{
	 				  width: 100%;
	 				  display: flex;
	 				  justify-content: space-between;
	 				  align-items: center;
	 				  position: absolute;
	 				  padding: 0 66upx;
	 				  top: 280upx;
	 				  .vipLevel{
	 					  display: flex;
	 					  justify-content: space-between;
	 					  flex-direction: column;
	 					  align-items: center;
	 					  .levelName{
	 					  		width:100%;
	 					  		height:26upx;
	 							text-align: center;
	 							font-size: 28rpx;
	 					  		color:#FFEDC9;			  
	 					  }
	 					  .levelcontent{
	 						 font-size: 20rpx;
							 color: rgba(241, 44, 24, 1);
	 						 text-align: center;
	 						 line-height:26upx;
	 						 font-size: 20rpx;
	 						 background:rgba(255, 237, 201, 1);
	 						 margin-top:26upx ;
	 						 padding: 8upx 20upx;
	 					  }
	 				  }
	 				
	 			  }
	 		  }
	}
    // 文字滚动
	.text_scoll{ 
		width:100%;
		padding:20rpx;
		font-size: 24upx;
		background: #fff;
		border-top:1px solid #F2F2F2;
		border-bottom:1px solid #F2F2F2;
		display: flex;
		align-items: center;
		.scoll_logo{ 
			width:128rpx;
			height: 24rpx;
			background: url(/static/demo/ad-head.png) no-repeat;
		background-size: 128rpx 24rpx;}
		.scoll_con{ 
			margin-left:20rpx;
		}
		
	}
	// uni-image{ border-radius: 0 !important;}
	.carousel {
	
		image {
			
		    border-radius: 0px;
			
		}
	}
	.swiper_item_list{ display: flex;flex-direction: row;justify-content: space-between;}
	.ad_banner{ width:100%;height: 290rpx;margin-bottom:40upx}
	.ad_banner image{ width:100%;height: 290upx;}
	.item_img_box{ position: relative;height: 212rpx }
	.item_img_box image{ width:100%;height: 212rpx !important;border-radius: 16upx !important;}
	.item_price{ width:160rpx;height: 42rpx;background:rgba(255, 255, 255, 1);border: 1px solid rgba(204, 45, 30, 0.6);position: absolute;bottom: 0;left: 0;font-size: 24rpx;display: flex;align-items: center;}
	.item_price_left{ display: inline-block;padding: 0 12rpx;text-align: center;line-height: 42rpx;color:#fff;background:#CC2D1E;}
	.item_price_right{ display: inline-block;text-align: center;color:#CC2D1E;background:#fff;padding: 0 24rpx;width: 100%;text-align: center;line-height: 42rpx;}
	.buy_type{ width:100%;height: auto;color: rgba(153, 153, 153, 1);font-size: 24rpx;display: block;}
	.clamp{ font-size:28rpx}
	.recommend_buy_type{ width:100%;height: auto;color: rgba(153, 153, 153, 1);font-size: 24rpx;display: block;margin:10upx 0px 0 0}
	.tit_box_line{ width:72rpx;height: 1px;background: #cdced2;}
	.recommend_box{ width: auto;height:42rpx;background: rgba(255, 255, 255, 1);border:2rpx solid rgba(204, 45, 30, 0.6);position: absolute;left:0;bottom:0}
	.recommend_type{ display: inline-block;padding:0px 12rpx;line-height: 38rpx;background: #CC2D1E;color: #FFFFFF;font-size: 24rpx;}
	.recommend_price{ display: inline-block;color: #CC2D1E;background: #fff;padding:0 12rpx;text-align: center;line-height: 38rpx;font-size: 24rpx;}
	.recommend_bottom{ padding-left:12rpx;padding-top:8rpx}
	.header-nav{ width:100%;height: 68rpx;overflow: hidden;padding:14upx 0 0 28upx;background: #fff;display: flex;align-items: center;justify-content: space-between;}
	.nav_list{ width:auto;font-size: 28rpx;margin-right:36rpx;height: 100%;}
	.nav_list_active { color: #CC2D1E !important;border-bottom:2px solid #CC2D1E}
	.cate-tags{
		font-size: 32upx;
		// height: 50upx;
		display: flex;
		align-items:center;
		margin:20upx 0 20upx 20upx;
		
			span{
				display: inline-block;
				height: 100%;
				line-height: 50upx;
				font-weight: bold;
				font-size: 28upx;
				padding: 5upx 20upx;
				border-radius: 10upx;
				margin-right: 20upx;
				border: 1upx solid #efefef;
			}
			.active{
				// background-color: rgba(255,243,191, $alpha: 1.0);
				background: #fff3bf;
				border: 1upx solid #f6db53;
			}
	}
	.waterfall-item-component{
		background: white;
	}
	.pro-tab{
		font-size: 28upx;
		white-space: nowrap;
		display: flex;
		align-items: center;
		background-color: white;
		padding: 20upx 20upx 20upx  0;
		.scroll{display: flex;
			align-items: center;
		}
		.scroll_list{
			display: flex;
			flex-direction: column;
			.notes{font-size: 24upx;color: #999a9c;margin-top:4upx}
		}
		
		view.scroll_list{
				display: inline-block;
				text-align: center;
					// padding: 5upx 20upx;
				border-radius: 20upx;
				padding-left: 20upx;
				text-align: center;
		}
		.active{
					background-color: rgba(255,243,191, $alpha: 1.0);
					font-weight: bold;
					border-radius: 12upx;
					font-size: 30upx;
					padding: 2upx 8upx;
				}
	}
